# Environment Variables
.env
# Virtual Environment 
dep/

#System files macOS metadata
.DS_Store

#IDE
.vscode/

#Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


.git
.gitignore

google-cloud-sdk/
